<main>
  <div *ngIf="!(afAuth.authState | async)">
    <h1>
      LogIn
    </h1>
    <button mat-raised-button appGoogleSignin>
      <img width="30px" src="./assets/asd.png" >
      <span >login with google</span>
    </button>
    <h5>OR</h5>
    <app-email-login></app-email-login>
  </div>
  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{user.email}}</strong>
    </p>
    <button mat-stroked-button (click)="logout()">SigOut</button>
  </div>


</main>


