button {
  img {
      width: 1.25em;
  }
}


:host {
  text-align: center;
}

.logout {
  padding-top: 5em;
}

span{
  margin-left: 15px;
}

h5{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 16px;

}
h1{
  margin-top:50px;
  margin-bottom:40px;
}
